<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bem-vindo ao nosso site</title>
  </head>
  <body>
    <h1>Olá {{name}},</h1>
    <p>Bem-vindo ao nosso site! Estamos muito felizes em tê-lo conosco.</p>
    <p>Esperamos que você desfrute de todas as nossas funcionalidades e recursos.</p>
    <p>Cordialmente,</p>
    <p>A equipe do nosso site</p>
  </body>
</html>
